extends layouts/_layout

block variables
	-title = 'Страница 2'

block content

	//begin main
	main.main

		//begin lesson
		+b.SECTION.lesson
			+e.container.container
				+e.header
					+e.header-img-wrap
						+e.IMG.header-img(src='img/content/lesson_img.jpg' alt='image')
					+e.header-text
						+e.H2.title.title Реально ли заработать на Форекс?
						+e.info
							+e.info-item
								+e.info-item-icon.icon-pencil
								+e.info-item-title.title Урок №1
							+e.info-item
								+e.info-item-icon.icon-time
								+e.info-item-title.title 5 минут
								+e.P.info-item-descr время прохождения
				+e.content
					P Для начала давайте поймём, что такое Форекс? Форекс - это Международный валютный рынок. У него, в отличии от фондовых рынков (где торгуют акциями, облигациями и другими ценными бумагами) нет как таковых специальных торговых залов. Все торги происходят между участниками через сложную систему, включающую в себя банки, дилинговые центры, корпорации и брокеров.
						br
						| Наша задача как трейдера Форекс на самом деле очень проста - купить валюту подешевле и продать её подороже. Это основной смысл любой спекулятивной торговли.
					P По сути, каждый из вас уже имел дело со спекулятивной торговлей обменивая одну валюту в Банке на другую. На платформе CapEX24 Вы делаете тоже самое, но онлайн. Логичный вопрос: а почему мне самому не скупать живую валюту, а потом её продать? Очень просто - когда вы будете покупать валюту в обменных пунктах с Вас каждый раз при совершении сделки будут брать значительную комиссию, лишая вас львиной доли прибыли. На рынке Форекс комиссия настолько незначительна и составляет тысячные доли процента, поэтому вы можете совершать сотни, а то и тысячи сделок, зарабатывая даже на минимальных изменениях курса! Также благодаря платформе CapEX24 у вас будет доступ почти ко всем валютным парам Мира, активам и драгоценным металлам, всего лишь имея доступ в интернет.
					P На следующем занятии мы совершим наши первые действия как трейдера на рынке Форекс.

				+b.ask-block.lesson__ask-block
					+e.H3.title.title Насколько хорошо вы усвоили материал?
					+e.inner
						+e.item
							+e.H4.item-title Выберите в чём преимущество рынка Форекс?
							+e.LABEL.question
								+e.INPUT.input(type='radio' name='question-1' checked)
								+e.P.text A. Доступ почти ко всем валютным парам и ничтожная комиссия за совершение сделок
							+e.LABEL.question
								+e.INPUT.input(type='radio' name='question-1')
								+e.P.text B. Торговля акциями компаний
						+e.actions
							+e.BUTTON.actions-btn.btn._transparent ответить

			+e.nav.is-active
				+e.nav-container.container
					+e.A.nav-link(href='#!')
						+i('arr-l')
						span назад на главную

					+e.advice
						+e.H3.advice-title.title Поздравляем, вы прошли урок
						+e.P.advice-text
							+i('quotes_l')
							| Трейдинг с брокером CapEX24 доступен каждому человеку.
							br
							| С CapEX24 вы можете открыть центовый счёт, благодаря которому можно начать торговлю всего с 1$!
					+e.A.nav-link(href='#!')
						+i('arr-r')
						span к следующему уроку
		//end lesson
	
	//end main
