//begin header
+b.HEADER.header(class= headerClass)
	+e.container.container
		+e.col
			+e.A.logo(href='#!')
				+e.IMG(src='img/other/logo-capex24.svg' alt='image')
			+e.H1.title Учебный центр
		+e.col
			+e.A.user(href='#!')
				+e.user-name Atlant
				+e.user-initials AT
			+e.A.actions-btn.btn._transparent(href='#!') Создать счёт
	+e.NAV.nav
		+e.A.nav-link.is-active(href='#!'): span Обучение
		+e.A.nav-link(href='#!'): span Видеокурсы
//end header
