.icon-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quotes_l {
  width: 1em;
  height: 1em;
  fill: initial;
}
